[submodule "themes/pagedjs"]
	path = themes/pagedjs
	url = https://gitlab.pagedmedia.org/julientaq/pagedjs-hugo.git
[submodule "themes/kraiklyn"]
	path = themes/kraiklyn
	url = https://github.com/jsnjack/kraiklyn.git
